.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 52px 82px 0 82px;
}
.nav-list {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.css-cuefkz-MuiContainer-root {
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.css-5pyqpm-MuiTypography-root-MuiLink-root {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}
body{
    background-color: #5A696F!important;
}